<div>
  <div class="form-group w-50 p-5">
    <label for="notification_input">Create Notification</label>
    <input type="text" class="form-control" id="notification_input" name="notification">
  </div>
  <button type="submit" class="btn btn-primary ml-5 submit-btn" >Submit</button>
</div>

<script>
  $(document).ready(function() {
    $('.submit-btn').click(function() {
      var inputVal = $('#notification_input').val();

      inputVal = inputVal.trim();
      if (inputVal != '') {
        App.webNotificationsChannel.receive(inputVal);
      }
    })
  })
</script>